<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/components.css">
</head>

<nav class="menu">
    <div class="conteudo-menu">
        <div class="user">
            <img src="../assets/img/logo.png" alt="">
            <div class="site">
                <p class="nome">aaaaa</p>
                <p class="sub">CONTROLE FINANCEIRO</p>
            </div>
        </div>
        <ul class="sidebar">
            <li class="item">
                <a href="#" class="ativo" data-page="overview">
                    <i class="fa-solid fa-house"></i>
                    <span>Visão Geral</span>
                </a>
            </li>
            <li class="item">
                <a href="#" data-page="cashflow">
                    <i class="material-icons">shopping_cart</i>
                    <span>Fluxo de Caixa</span>
                </a>
            </li>
            <li class="item">
                <a href="#" data-page="budgets">
                    <i class="material-icons">sell</i>
                    <span>Orçamentos</span>
                </a>
            </li>
            <li class="item">
                <a href="#" data-page="goals">
                    <i class="material-icons">savings</i>
                    <span>Metas</span>
                </a>
            </li>
            <li class="item">
                <a href="#" data-page="reports">
                    <i class="material-icons">equalizer</i>
                    <span>Relatórios</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="logout">
        <button id="logout-btn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Sair</span>
        </button>
    </div>
</nav>